<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectDBGSB" connectionString="metadata=res://*/DB_GSB.csdl|res://*/DB_GSB.ssdl|res://*/DB_GSB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.50;Initial Catalog=GSB_Equipe4;Persist Security Info=True;User ID=SQLEquipe4;Password=sqlequipe4;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Swiss_visite.Properties.Settings.GSB_Equipe4ConnectionString"
      connectionString="Data Source=172.16.0.50;Initial Catalog=GSB_Equipe4;Persist Security Info=True;User ID=SQLEquipe4;Password=sqlequipe4"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>